<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <title>{% block title %}BRB APP{% endblock %}</title>
</head>
<body class="min-h-screen
bg-gradient-to-t from-gray-900 via-purple-900 to-violet-600
bg-no-repeat">

{% block content %}
{% endblock %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/index.js') }}">
</script>
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/timer.js') }}">
</script>
</body>
</html>